In [11]:
import pandas as pd
df=pd.read_csv('./중요변수추출.csv')
df

,credit_score,country,age_group_gender,balance_per_age,balance_per_tenure,salary_per_products,active_member,churn
0,619,France,forties_Female,2853.325952,39946.563333,101348.880,1,1
1,608,Spain,forties_Female,2044.094146,41903.930000,112542.580,1,0
2,502,France,forties_Female,3801.447619,17740.088889,37977.190,0,1
3,699,France,thirties_Female,3072.812564,59919.845000,46913.315,0,0
4,850,Spain,forties_Female,2918.856279,41836.940000,79084.100,1,0
...,...,...,...,...,...,...,...,...
9995,771,France,thirties_Male,3072.812564,19973.281667,48135.320,0,0
9996,516,France,thirties_Male,1639.131714,5215.419091,101699.770,1,0
9997,709,France,thirties_Female,3328.880278,14979.961250,42085.580,1,1
9998,772,Germany,forties_Male,1787.507381,18768.827500,46444.260,0,1
9999,792,France,twenties_Female,4647.956786,26028.558000,38190.780,0,0

In [12]:
df.dtypes

credit_score             int64
country                 object
age_group_gender        object
balance_per_age        float64
balance_per_tenure     float64
salary_per_products    float64
active_member            int64
churn                    int64
dtype: object

# get dummies 말고 OneHotEncoder() 사용해서 원핫인코딩

In [13]:
# 이미 데이터가 0과 1로 이루어진 활동성, 이탈 여부는 원핫인코딩에서 제외한다
# 이와 더불어 데이터 타입이 수치형인 것들도 마찬가지

# 국가, 나이대와 성별만 수행한다

df.select_dtypes(include='object').columns

Index(['country', 'age_group_gender'], dtype='object')

In [14]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

In [15]:
ohe.fit(df[['country']])
ohe.transform(df[['country']])

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [16]:
df['country'].unique().tolist()

['France', 'Spain', 'Germany']

In [17]:
ohe_country = pd.DataFrame(ohe.transform(df[['country']]), columns=df['country'].unique().tolist())
ohe_country

      France  Spain  Germany
0        1.0    0.0      0.0
1        0.0    0.0      1.0
2        1.0    0.0      0.0
3        1.0    0.0      0.0
4        0.0    0.0      1.0
...      ...    ...      ...
9995     1.0    0.0      0.0
9996     1.0    0.0      0.0
9997     1.0    0.0      0.0
9998     0.0    1.0      0.0
9999     1.0    0.0      0.0

[10000 rows x 3 columns]

In [18]:
ohe.fit(df[['age_group_gender']])
ohe.transform(df[['age_group_gender']])

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [19]:
ohe_agg = pd.DataFrame(ohe.transform(df[['age_group_gender']]), columns=df['age_group_gender'].unique().tolist())
ohe_agg

,forties_Female,thirties_Female,forties_Male,fifties_Male,twenties_Female,twenties_Male,thirties_Male,fifties_Female,sixties_Female,teenager_Male,seventies_Female,sixties_Male,seventies_Male,eighties_Female,teenager_Female,eighties_Male,nineties_Male
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [28]:
df_combined = pd.concat([df,ohe_country,ohe_agg],axis=1)
df_combined

,credit_score,country,age_group_gender,balance_per_age,balance_per_tenure,salary_per_products,active_member,churn,France,Spain,...,fifties_Female,sixties_Female,teenager_Male,seventies_Female,sixties_Male,seventies_Male,eighties_Female,teenager_Female,eighties_Male,nineties_Male
0,619,France,forties_Female,2853.325952,39946.563333,101348.880,1,1,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,608,Spain,forties_Female,2044.094146,41903.930000,112542.580,1,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,502,France,forties_Female,3801.447619,17740.088889,37977.190,0,1,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,699,France,thirties_Female,3072.812564,59919.845000,46913.315,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,850,Spain,forties_Female,2918.856279,41836.940000,79084.100,1,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,thirties_Male,3072.812564,19973.281667,48135.320,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9996,516,France,thirties_Male,1639.131714,5215.419091,101699.770,1,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9997,709,France,thirties_Female,3328.880278,14979.961250,42085.580,1,1,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9998,772,Germany,forties_Male,1787.507381,18768.827500,46444.260,0,1,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,792,France,twenties_Female,4647.956786,26028.558000,38190.780,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [29]:
df_combined.drop(['country','age_group_gender'],axis=1)

,credit_score,balance_per_age,balance_per_tenure,salary_per_products,active_member,churn,France,Spain,Germany,forties_Female,...,fifties_Female,sixties_Female,teenager_Male,seventies_Female,sixties_Male,seventies_Male,eighties_Female,teenager_Female,eighties_Male,nineties_Male
0,619,2853.325952,39946.563333,101348.880,1,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,608,2044.094146,41903.930000,112542.580,1,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,502,3801.447619,17740.088889,37977.190,0,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,699,3072.812564,59919.845000,46913.315,0,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,850,2918.856279,41836.940000,79084.100,1,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,3072.812564,19973.281667,48135.320,0,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9996,516,1639.131714,5215.419091,101699.770,1,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9997,709,3328.880278,14979.961250,42085.580,1,1,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9998,772,1787.507381,18768.827500,46444.260,0,1,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,792,4647.956786,26028.558000,38190.780,0,0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [30]:
csv_filename = '원핫인코딩.csv'
df_combined.to_csv(csv_filename, index=False)