In [21]:
import pandas as pd
df=pd.read_csv('./churn_data4.csv')
df

,credit_score,credit__section,country,age,age_group,gender,age_group_gender,tenure,balance,balance_group,balance_per_age,balance_per_tenure,products_number,credit_card,active_member,estimated_salary,salary_range,churn
0,619,Poor,France,42,forties,Female,forties_Female,2,119839.69,zero,2853.325952,0.000000,1,1,1,101348.88,very high,1
1,608,Poor,Spain,41,forties,Female,forties_Female,1,83807.86,rest,2044.094146,83807.860000,1,0,1,112542.58,very high,0
2,502,Very poor,France,42,forties,Female,forties_Female,8,159660.80,rest,3801.447619,19957.600000,3,1,0,113931.57,very high,1
3,699,Fair,France,39,thirties,Female,thirties_Female,1,119839.69,zero,3072.812564,0.000000,2,0,0,93826.63,high,0
4,850,Excellent,Spain,43,forties,Female,forties_Female,2,125510.82,rest,2918.856279,62755.410000,1,1,1,79084.10,high,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,Good,France,39,thirties,Male,thirties_Male,5,119839.69,zero,3072.812564,0.000000,2,1,0,96270.64,high,0
9996,516,Very poor,France,35,thirties,Male,thirties_Male,10,57369.61,rest,1639.131714,5736.961000,1,1,1,101699.77,very high,0
9997,709,Fair,France,36,thirties,Female,thirties_Female,7,119839.69,zero,3328.880278,0.000000,1,0,1,42085.58,medium,1
9998,772,Good,Germany,42,forties,Male,forties_Male,3,75075.31,rest,1787.507381,25025.103333,2,1,0,92888.52,high,1
9999,792,Excellent,France,28,twenties,Female,twenties_Female,4,130142.79,rest,4647.956786,32535.697500,1,1,0,38190.78,medium,0

In [22]:
bins = [0,35000,60000,100000,float('inf')]
labels = ['low', 'medium', 'high', 'very high']
df['salary_range'] = pd.cut(df['estimated_salary'], bins=bins,
                            labels=labels, include_lowest=True)

# 순서형 변수로 변환
df['salary_range'] = df['salary_range'].astype(pd.api.types.CategoricalDtype(categories=labels,
                                                                             ordered=True))

In [23]:
# 순서형 변수로 변환
df['credit__section'] = df['credit__section'].astype(pd.api.types.CategoricalDtype(categories=labels,
                                                                             ordered=True))

In [24]:
# 인코딩 순서 확인
print(df['credit__section'].cat.categories)  # 범주 리스트 확인
print(df['credit__section'].cat.codes)       # 인코딩된 숫자 코드 확인

Index(['low', 'medium', 'high', 'very high'], dtype='object')
0      -1
1      -1
2      -1
3      -1
4      -1
       ..
9995   -1
9996   -1
9997   -1
9998   -1
9999   -1
Length: 10000, dtype: int8